.container {
    display: flex;
    justify-content: flex-start;
}


.sheet {
    margin-left: 10em;
    margin-right: 10em;
    padding: 1em;
    border: solid thin black;
    /*margin-top: 3em;*/
}

.label {
    font-size: 1.5rem;
    font-weight: bold;
    vertical-align: middle;

}

.labeled-entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.property-block-heading {
    text-align: center;
}

.section-heading {
    text-align: center;
}

.path-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dot {
    width: 100%;
}

.text-right {
    text-align: right;
}

.full-width {
    /*width: 100%;*/
}

.constrained {
    max-width: 100%;
}