body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
    display: flex;
    justify-content: flex-start;
}



.sheet {
    margin-left: 10em;
    margin-right: 10em;
    /*margin-top: 3em;*/
}

.label {
    font-size: 1.5rem;
    font-weight: bold;
    vertical-align: middle;

}

.labeled-entry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.property-block-heading {
    text-align: center;
}

.section-heading {
    text-align: center;
}

.path-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.character-selection-row {
    border: solid 1px black;
}

.selected-character {
    background: gray;
}

.dot-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.full-width {
    /*width: 100%;*/
}